<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.3.8000.0">
	<securityTokenServiceSettings>
		<identityServerSettings>
			<identityServerClients>
				<add clientName="sitefinity" config:flags="1">
					<redirectUris>
						<add redirectUri="https://localhost:7241/signin-oidc" />
					</redirectUris>
				</add>
			</identityServerClients>
		</identityServerSettings>
	</securityTokenServiceSettings>
</authenticationConfig>