<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.3.8000.0">
	<connectionStrings>
		<add connectionString="data source=LAPTOP-I8FOB9EQ\MSSQLSERVER02;UID=sa;PWD=sasa;initial catalog=dbsfTraining" name="Sitefinity" />
	</connectionStrings>
</dataConfig>