<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.3.8000.0" authCookieName=".SFAUTH-CMS" rolesCookieName=".SFROLES-CMS" validationKey="3C05F58005BC288234C623F8EC70FAD4F67D493E91C6BF41F45952DA4BBEF75262D499DB31CBF843E6A852F819B9DCFA5C36D498C636C307BAC2E3F3280654B1" decryptionKey="7C6AF2574F87227781E42DED7AA42DE6C7E2081ECFBDCD7982CA99BC70F560EC" loggingCookieName=".SFLOG-CMS">
	<securityTokenIssuers>
		<add key="C7525B2C4A5B71D315C2E4673F7F390C0BBCA39603AC0DEDB7B19BAA774D6F2F" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="C7525B2C4A5B71D315C2E4673F7F390C0BBCA39603AC0DEDB7B19BAA774D6F2F" realm="http://localhost" />
	</relyingParties>
</securityConfig>